body::before {
  display: block;
  content: "";
  height: 70px;
}

nav img {
  width:40px;
}

#learn img {
  width:40px;
}

.box {
  background-color: aqua;
  min-height: 50px;
}

section {
  scroll-margin-top: 80px;
}

footer img {
  width:40px;
}

